body {
  font-family:  "Tahoma", sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}
.card {
  width: 376px;
  height: 526px;
  border: 2px solid black;
}
.name {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin-top: 11px;
}
.image {
  text-align: center;
  margin-top: 22px;
}
.credit{
  background: #8bc144;
  font-size: 22px;
  color: white;
  width: 190px;
  text-align: center;
  box-shadow: -3px 3px grey;
  height: 31px;
  margin-top: 1px;
}

.price {
  font-size: 31px;
  text-align: center;
  margin: 14px 0 0 20px;
}
.buy {
  width: 221px;
  height: 40px;
  text-align: center;
  font-size: 28px;
  color: white;
  background-color: #ff0000;
  box-shadow:  0 5px 0 #850000;
  margin-left: 63px;
  margin-top: 13px;
  padding: 6px 0 0 8px;
  text-shadow: -1px 1px 0 black;
}
